CHECK_NAME = "홍길동"
CHECK_BIRTH = "010101"
CHECK_SCHOOL_NAME = "땡땡고등학교"
CHECK_SCHOOL_LEVEL = "고등학교"
CHECK_SCHOOL_AREA = "서울"
CHECK_SCHOOL_PASSWORD = "0000"

DISCORD_WEBHOOK = "https://discord.com/api/webhooks/..."
